<script type="text/x-template" id="levelOneBaseTemplate">

<RootBaseComponent :has-app-bar-extension="hasAppBarExtension">
<template #appBarPrepend>
    <v-app-bar-nav-icon @click="isDrawerOpen = ! isDrawerOpen"></v-app-bar-nav-icon>
</template>

<template #appBarTitle>${title}</template>

<template #appBarAppend>
<v-menu>
    <template #activator="{ props }">
        <v-btn v-bind="props" icon="mdi-dots-vertical"></v-btn>
    </template>
    <v-list>
        <v-list-item to="/settings">
            <v-list-item-title>Settings</v-list-item-title>
        </v-list-item>
        <v-list-item href="https://github.com/jaymandz/randomizer-clone"
          target="_blank">
            <v-list-item-title>Source code on GitHub</v-list-item-title>
        </v-list-item>
    </v-list>
</v-menu>
</template>

<template #appBarExtension>
    <slot name="appBarExtension"></slot>
</template>

<template #rootBody>
    <v-navigation-drawer v-model="isDrawerOpen">
        <v-list>
            <v-list-item v-for="i in drawerItems" :title="i.title" :to="i.to"
              :value="i"></v-list-item>
        </v-list>
    </v-navigation-drawer>
    <slot name="body"></slot>
</template>
</RootBaseComponent>

</script>

<script type="text/javascript">
const LevelOneBaseComponent = {
    components: { RootBaseComponent },
    props: {
        hasAppBarExtension: Boolean,
        title: String,
    },
    template: '#levelOneBaseTemplate',
    delimiters: ['${', '}'],
    data() { return {
        drawerItems: [
            { title: 'Number', to: '/number' },
            { title: 'Coin flip', to: '/coinFlip' },
            { title: 'List', to: '/list' },
            { title: 'Letter', to: '/letter' },
            { title: 'Color', to: '/color' },
            { title: 'Password', to: '/password' },
            { title: 'Dice roll', to: '/diceRoll' },
            { title: 'Country', to: '/country' },
            { title: 'Date/time', to: '/dateTime' },
            { title: 'Chemical element', to: '/chemicalElement' },
        ],
        isDrawerOpen: false,
    }},
}
</script>