<script type="text/x-template" id="listFormTemplate">

<form id="listForm" @submit.prevent="submitListForm">
    <v-text-field v-model="listForm.name" required label="List name"
      variant="outlined"></v-text-field>
</form>
    
<form class="d-flex flex-row" @submit.prevent="addNewItem">
    <v-text-field v-model="newItemContent" required class="mr-2"
      label="New item" variant="outlined"></v-text-field>
    <v-btn class="ml-2" color="indigo" prepend-icon="mdi-plus"
      type="submit" :disabled="newItemContent.length == 0">Add</v-btn>
</form>

<div :class="listClass">
    <p class="text-caption">
        <span v-if="listForm.items.length == 1">1 element</span>
        <span v-else>${listForm.items.length} elements</span>
    </p>
    <v-list>
        <v-list-item v-for="(i, k1) in listForm.items"
          :title="i"></v-list-item>
    </v-list>
</div>

</script>

<script type="text/javascript">
var listFormMethods = {
    addNewItem(event)
    {
        this.listForm.items.push(this.newItemContent)
        this.newItemContent = ''
    },
    submitListForm(event)
    {
        axios.post(
            '{{ url_for("add_list") }}',
            this.listForm,
        ).then(r => {
            this.$router.replace('/list')
        })
    },
}

var listFormComputed = {
    listClass()
    {
        var classes = ['rc-y-scroll']
        if (this.mode == 'create')
        {
            classes = classes.concat(['rc-below-2-controls'])
        }
        else if (this.mode == 'edit')
        {
            classes = classes.concat(['mb-2', 'rc-list-edit-items'])
        }
        return classes.join(' ')
    },
}

const ListFormComponent = {
    props: {
        mode: {
            type: String,
            validator: v => ['create', 'edit'].includes(v),
        },
    },
    template: '#listFormTemplate',
    delimiters: ['${', '}'],
    data() { return {
        listForm: {
            name: '',
            items: [],
        },
        newItemContent: '',
    }},
    methods: listFormMethods,
    computed: listFormComputed,
}
</script>