<script type="text/x-template" id="listFormTemplate">

<form id="listForm" @submit.prevent="submitForm">
    <v-text-field v-model="formData.name" required label="List name"
      variant="outlined"></v-text-field>
</form>
    
<form class="d-flex flex-row" @submit.prevent="addNewItem">
    <v-text-field v-model="newItemContent" required class="mr-2"
      label="New item" variant="outlined"></v-text-field>
    <v-btn class="ml-2" color="indigo" prepend-icon="mdi-plus"
      type="submit" :disabled="newItemContent.length == 0">Add</v-btn>
</form>

<div :class="listClass">
<p v-if="mode == 'create'" class="text-caption">
    <span v-if="formData.items.length == 1">1 element</span>
    <span v-else>${formData.items.length} elements</span>
</p>
<v-list v-if="formData.items.length > 0">
<v-list-item v-for="(i, k1) in formData.items" :title="i" :value="i">
    <template #append>
        <template v-if="mode == 'edit'">
            <v-btn flat icon="mdi-pencil-outline" size="small"
              @click="editItemInModal($event, k1)"></v-btn>
            <v-btn flat icon="mdi-close" size="small"
              :disabled="formData.items.length <= 1"
              @click="deleteItem($event, k1)"></v-btn>
        </template>
        <v-btn v-else-if="mode == 'create'" flat icon="mdi-close"
          size="small" @click="removeItemFromList($event, k1)"></v-btn>
        </template>
</v-list-item>
</v-list>
</div>

</script>

<script type="text/javascript">
var listFormMethods = {
    addNewItem(event)
    {
        this.formData.items.push(this.newItemContent)
        this.newItemContent = ''
    },
    deleteItem(event, index)
    {
        //
    },
    editItemInModal(event, index)
    {
        //
    },
    removeItemFromList(event, index)
    {
        this.formData.items.splice(index, 1)
    },
    submitForm(event)
    {
        if (this.mode == 'edit') {}
        else if (this.mode == 'create') axios.post(
            '{{ url_for("add_list") }}',
            this.formData,
        ).then(r => {
            this.$router.replace('/list')
        })
    },
}

var listFormComputed = {
    listClass()
    {
        var classes = ['rc-y-scroll']
        if (this.mode == 'create')
        {
            classes = classes.concat(['rc-below-2-controls'])
        }
        else if (this.mode == 'edit')
        {
            classes = classes.concat(['mb-2', 'rc-list-edit-items'])
        }
        return classes.join(' ')
    },
}

const ListFormComponent = {
    props: {
        list: {
            type: Object,
            default: { name: '', items: [] },
        },
        mode: {
            type: String,
            validator: v => ['create', 'edit'].includes(v),
        },
    },
    template: '#listFormTemplate',
    delimiters: ['${', '}'],
    data() { return {
        formData: {
            name: '',
            items: [],
        },
        newItemContent: '',
    }},
    mounted()
    {
        this.formData.name = this.list.name
        this.formData.items = Array.from(this.list.items, i => i.body)
    },
    methods: listFormMethods,
    computed: listFormComputed,
}
</script>
