<script type="text/x-template" id="listFormTemplate">

<v-text-field v-if="mode == 'edit'" v-model="formData.name" required
  append-inner-icon="mdi-pencil-outline" label="List name"
  variant="outlined" @click:append-inner="showListNameEditDialog">
</v-text-field>
<form v-else-if="mode == 'create'" id="listCreateForm"
  @submit.prevent="submitCreateForm">
    <v-text-field v-model="formData.name" required label="List name"
      variant="outlined"></v-text-field>
</form>
    
<form class="d-flex flex-row" @submit.prevent="addNewItem">
    <v-text-field v-model="newItemContent" required class="mr-2"
      label="New item" variant="outlined"></v-text-field>
    <v-btn class="ml-2" color="indigo" prepend-icon="mdi-plus"
      type="submit" :disabled="newItemContent.length == 0">Add</v-btn>
</form>

<div :class="listClass">
<p v-if="mode == 'create'" class="text-caption">
    <span v-if="formData.items.length == 1">1 element</span>
    <span v-else>${formData.items.length} elements</span>
</p>
<v-list v-if="formData.items.length > 0">
<v-list-item v-for="(i, k1) in formData.items" :title="i" :value="i">
    <template #append>
        <template v-if="mode == 'edit'">
            <v-btn flat icon="mdi-pencil-outline" size="small"
              @click="showListItemEditDialog($event, k1)"></v-btn>
            <v-btn flat icon="mdi-close" size="small"
              :disabled="formData.items.length <= 1"
              @click="deleteItem($event, k1)"></v-btn>
        </template>
        <v-btn v-else-if="mode == 'create'" flat icon="mdi-close"
          size="small" @click="removeItemFromList($event, k1)"></v-btn>
        </template>
</v-list-item>
</v-list>
</div>

<v-dialog v-model="isShowingListNameEditDialog">
<v-card title="Edit name">
    <v-card-text>
        <form id="listNameEditForm" @submit.prevent="">
            <v-text-field v-model="listNameEditFormData.name" required
              label="List name"></v-text-field>
        </form>
    </v-card-text>
    <v-card-actions>
        <v-btn @click="isShowingListNameEditDialog = false">Cancel</v-btn>
        <v-btn form="listNameEditForm" type="submit"
          :disabled="! listNameEditFormData.name">OK</v-btn>
    </v-card-actions>
</v-card>
</v-dialog>

<v-dialog v-model="isShowingListItemEditDialog">
<v-card title="Edit item">
    <v-card-text>
        <form id="listItemEditForm" @submit.prevent="">
            <v-text-field v-model="listItemEditFormData.body" required
              label="Item body"></v-text-field>
        </form>
    </v-card-text>
    <v-card-actions>
        <v-btn @click="isShowingListItemEditDialog = false">Cancel</v-btn>
        <v-btn form="listItemEditForm" type="submit"
          :disabled="! listItemEditFormData.body">OK</v-btn>
    </v-card-actions>
</v-card>
</v-dialog>

</script>

<script type="text/javascript">
var listFormMethods = {
    addNewItem(event)
    {
        if (this.mode == 'edit') axios.post(
            '{{ url_for("add_list_item") }}',
            { list_id: this.list.id, body: this.newItemContent },
        ).then(r => {
            this.pushNewItemAndClear()
            this.$emit('update')
        })
        else if (this.mode == 'create') this.pushNewItemAndClear()
    },
    deleteItem(event, index)
    {
        //
    },
    pushNewItemAndClear()
    {
        this.formData.items.push(this.newItemContent)
        this.newItemContent = ''
    },
    removeItemFromList(event, index)
    {
        this.formData.items.splice(index, 1)
    },
    showListItemEditDialog(event, index)
    {
        this.listItemEditFormData.body = this.formData.items[index]
        this.isShowingListItemEditDialog = true
    },
    showListNameEditDialog(event)
    {
        this.listNameEditFormData.name = this.formData.name
        this.isShowingListNameEditDialog = true
    },
    submitCreateForm(event)
    {
        axios.post(
            '{{ url_for("add_list") }}',
            this.formData,
        ).then(r => {
            this.$router.replace('/list')
        })
    },
}

var listFormComputed = {
    listClass()
    {
        var classes = ['rc-y-scroll']
        if (this.mode == 'create')
        {
            classes = classes.concat(['rc-below-2-controls'])
        }
        else if (this.mode == 'edit')
        {
            classes = classes.concat(['mb-2', 'rc-list-edit-items'])
        }
        return classes.join(' ')
    },
}

const ListFormComponent = {
    props: {
        list: {
            type: Object,
            default: { name: '', items: [] },
        },
        mode: {
            type: String,
            validator: v => ['create', 'edit'].includes(v),
        },
    },
    emits: [
        'update',
    ],
    template: '#listFormTemplate',
    delimiters: ['${', '}'],
    data() { return {
        formData: {
            name: '',
            items: [],
        },
        isShowingListItemEditDialog: false,
        isShowingListNameEditDialog: false,
        listItemEditFormData: {
            body: '',
        },
        listNameEditFormData: {
            name: '',
        },
        newItemContent: '',
    }},
    mounted()
    {
        this.formData.name = this.list.name
        this.formData.items = Array.from(this.list.items, i => i.body)
    },
    methods: listFormMethods,
    computed: listFormComputed,
}
</script>
