<script type="text/x-template" id="settingsTemplate">

<RootBaseComponent>

<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left"
      @click="$event.view.history.back()"></v-app-bar-nav-icon>
</template>
<template #appBarTitle>Settings</template>

<template #rootBody>
<v-list>
    <v-list-item @click="isShowingInitialScreenSelectDialog = true">
        <template #prepend>
            <v-icon icon="mdi-home-edit"></v-icon>
        </template>
        <v-list-item-title>Choose initial screen</v-list-item-title>
        <v-list-item-subtitle>
            Number
        </v-list-item-subtitle>
    </v-list-item>
    <v-list-item @click="isShowingListsImportDialog = true">
        <template #prepend>
            <v-icon icon="mdi-application-import"></v-icon>
        </template>
        <v-list-item-title>Import lists from backup file</v-list-item-title>
        <v-list-item-subtitle>
            Your existing lists will not be affected.
        </v-list-item-subtitle>
    </v-list-item>
    <v-list-item @click="exportLists">
        <template #prepend>
            <v-icon icon="mdi-application-export"></v-icon>
        </template>
        <v-list-item-title>Export lists to backup file</v-list-item-title>
    </v-list-item>
    <v-list-item to="/settings/about">
        <template #prepend>
            <v-icon icon="mdi-information-outline"></v-icon>
        </template>
        <v-list-item-title>About</v-list-item-title>
    </v-list-item>
</v-list>

<v-dialog v-model="isShowingInitialScreenSelectDialog">
<v-card title="Choose initial screen">
<v-card-text>
<form id="initialScreenSelectForm" @submit.prevent="saveSettings">
    <v-radio-group v-model="settingsForm.screen_name">
        <v-radio label="Number" value="number"></v-radio>
        <v-radio label="Coin flip" value="coinFlip"></v-radio>
        <v-radio label="List" value="list"></v-radio>
        <v-radio label="Letter" value="letter"></v-radio>
        <v-radio label="Color" value="color"></v-radio>
        <v-radio label="Password" value="password"></v-radio>
        <v-radio label="Dice roll" value="diceRoll"></v-radio>
        <v-radio label="Country" value="country"></v-radio>
        <v-radio label="Date/time" value="dateTime"></v-radio>
        <v-radio label="Chemical element" value="chemicalElement"></v-radio>
    </v-radio-group>
</form>
</v-card-text>
<v-card-actions>
    <v-btn @click="isShowingInitialScreenSelectDialog = false">Cancel</v-btn>
    <v-btn form="initialScreenSelectForm" type="submit">OK</v-btn>
</v-card-actions>
</v-card>
</v-dialog>

<v-dialog v-model="isShowingListsImportDialog">
<v-card title="Import lists">
<v-card-text>
    <form id="importForm" @submit.prevent="importLists">
        <v-file-input v-model="importForm.json_file" required
          accept="application/json" label="Upload backup file here.">
        </v-file-input>
    </form>
</v-card-text>
<v-card-actions>
    <v-btn @click="isShowingListsImportDialog = false">Close</v-btn>
    <v-btn form="importForm" type="submit">Import</v-btn>
</v-card-actions>
</v-card>
</v-dialog>
</template>

</RootBaseComponent>

</script>

<script type="text/javascript">
var settingsMethods = {
    async addListsFromJson(lj)
    {
        var lists = JSON.parse(lj)
        for (var name in lists)
        {
            var items = Array.from(lists[name], i => ({ body: i }))
            await this.$root.createListFromData(name, items)
        }
    },
    exportLists(event)
    {
        axios.get('{{ url_for("get_all_lists") }}').then(r => {
            var lj = JSON.stringify(this.listsDictFromDbData(r.data))
            var blob = new Blob([lj], { type: 'text/plain; charset=utf-8' })
            saveAs(blob, 'backup_'+luxon.DateTime.now().toISODate()+'.json')
        })
    },
    importLists(event)
    {
        this.importForm.json_file[0].text().then(r => {
            this.addListsFromJson(r)
            this.isShowingListsImportDialog = false
        })
    },
    listsDictFromDbData(data)
    {
        var listsDict = {}
        for (var l in data)
        {
            var list = data[l]
            listsDict[list.name] = data[l].items.map(i => i.body)
        }
        return listsDict
    },
    saveSettings(event)
    {
        Cookies.set(
            'randomizer.screenName',
            this.settingsForm.screen_name,
            { sameSite: 'strict' },
        )
        this.isShowingInitialScreenSelectDialog = false
    },
}

const SettingsComponent = {
    components: {
        RootBaseComponent,
    },
    template: '#settingsTemplate',
    data() { return {
        importForm: {
            json_file: null,
        },
        settingsForm: {
            screen_name: Cookies.get('randomizer.screenName'),
        },
        isShowingInitialScreenSelectDialog: false,
        isShowingListsImportDialog: false,
    }},
    methods: settingsMethods,
}
</script>
