<script type="text/x-template" id="listCreateTemplate">

<RootBaseComponent>
<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left" to="/list"></v-app-bar-nav-icon>
</template>

<template #appBarTitle>Create list</template>

<template #appBarAppend>
    <v-btn form="listForm" icon="mdi-check" type="submit"
      :disabled="$refs.listForm && ! $refs.listForm.formData.name"></v-btn>
</template>

<template #rootBody>
    <ListFormComponent ref="listForm" mode="create"></ListFormComponent>
</template>
</RootBaseComponent>

</script>

<script type="text/javascript">
const ListCreateComponent = {
    components: {
        ListFormComponent,
        RootBaseComponent,
    },
    template: '#listCreateTemplate',
    delimiters: ['${', '}'],
}
</script>
