<script type="text/x-template" id="listCreateTemplate">

<RootBaseComponent>
<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left" to="/list"></v-app-bar-nav-icon>
</template>

<template #appBarTitle>Create list</template>

<template #appBarAppend>
    <v-btn form="listForm" icon="mdi-check" type="submit"
      :disabled="! listForm.name"></v-btn>
</template>

<template #rootBody>
    <ListFormComponent mode="create"></ListFormComponent>
</template>
</RootBaseComponent>

</script>

<script type="text/javascript">
const listCreateMethods = {
    addNewItem(event)
    {
        this.listForm.items.push(this.newItemContent)
        this.newItemContent = ''
    },
    submitListForm(event)
    {
        axios.post(
            '{{ url_for("add_list") }}',
            this.listForm,
        ).then(r => {
            this.$router.replace('/list')
        })
    },
}

const ListCreateComponent = {
    components: {
        ListFormComponent,
        RootBaseComponent,
    },
    template: '#listCreateTemplate',
    delimiters: ['${', '}'],
    data() { return {
        listForm: {
            name: '',
            items: [],
        },
        newItemContent: '',
    }},
    methods: listCreateMethods,
}
</script>