<script type="text/x-template" id="listCreateTemplate">

<RootBaseComponent>
<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left" to="/list"></v-app-bar-nav-icon>
</template>

<template #appBarTitle>Create list</template>

<template #appBarAppend>
    <v-btn form="listCreateForm" icon="mdi-check" type="submit"
      :disabled="$refs.listCreateForm && ! $refs.listCreateForm.formData.name">
    </v-btn>
</template>

<template #rootBody>
    <ListFormComponent ref="listCreateForm" mode="create"></ListFormComponent>
</template>
</RootBaseComponent>

</script>

<script type="text/javascript">
const ListCreateComponent = {
    components: {
        ListFormComponent,
        RootBaseComponent,
    },
    template: '#listCreateTemplate',
    delimiters: ['${', '}'],
}
</script>
