<script type="text/x-template" id="listTemplate">

<div v-if="lists.length == 0" class="align-center d-flex flex-column justify-center rc-spacious-div">
    <p>You haven't created any list yet!</p>
    <v-btn color="indigo" prepend-icon="mdi-plus" rounded="pill" size="large"
      to="/list/create">Create list</v-btn>
</div>
<template v-else>
    Hehe
</template>

</script>

<script type="text/javascript">
const ListComponent = {
    template: '#listTemplate',
    data() { return {
        lists: [],
    }},
    mounted()
    {
        axios.get('{{ url_for("get_all_lists") }}').then(r => {
            this.lists = r.data
        })
    },
}
</script>