<script type="text/x-template" id="listTemplate">

<LevelOneBaseComponent title="List">
<template #body>

<div v-if="isLoading" :class="emptyDivClass">
    <v-progress-circular indeterminate color="indigo"
      :size="50"></v-progress-circular>
</div>

<div v-else-if="lists.length == 0" :class="emptyDivClass">
    <p class="mb-4">You haven't created any list yet!</p>
    <v-btn color="indigo" prepend-icon="mdi-plus" rounded="pill"
      size="large" to="/list/create">Create list</v-btn>
</div>

<template v-else>
<v-btn class="rc-floating-btn" color="indigo" icon="mdi-plus"
  to="/list/create"></v-btn>
<v-text-field v-model="filter" clearable label="Search"
  prepend-inner-icon="mdi-magnify" variant="outlined"
  @click:clear="filter = ''"></v-text-field>

<v-btn v-if="lists.length > 1" class="mb-3" color="indigo" variant="text"
  @click="isPickingFromMultipleLists = true">
    Pick elements from multiple lists
</v-btn>

<div v-if="fLists.length > 0" :class="listDivClass">
<v-list lines="two">
    <v-list-item v-for="(l, k1) in fLists" :active="false"
      :subtitle="l.items.length+' item'+(l.items.length == 1 ? '' : 's')"
      :title="l.name" :to="'/list/view/'+l.id" :value="l.name">
        <template #append>
            <v-icon icon="mdi-chevron-right"></v-icon>
        </template>
    </v-list-item>
</v-list>
</div>
<div v-else class="text-center text-h4">
    No lists found
</div>
</template>

<v-dialog v-model="isPickingFromMultipleLists">
<v-card title="Select lists">
    <v-card-text>
        <p>
            One element will be randomly picked from each list you select.
            You must select at least two lists.
        </p>
        <v-checkbox v-for="l in lists" density="compact" :label="l.name"></v-checkbox>
    </v-card-text>
    <v-card-actions>
        <v-btn>Close</v-btn>
        <v-btn disabled>Next</v-btn>
    </v-card-actions>
</v-card>
</v-dialog>

</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
var listWatch = {
    filter(value)
    {
        var pattern = new RegExp(value, 'i')
        this.fLists = this.lists.filter(l => l.name.match(pattern))
    },
}

var listComputed = {
    emptyDivClass()
    {
        return [
            'align-center',
            'd-flex',
            'flex-column',
            'justify-center',
            'rc-spacious-div',
        ].join(' ')
    },
    listDivClass()
    {
        var classes = ['rc-y-scroll']

        if (this.lists.length > 1) classes.push('rc-multiple-list-div')
        else classes.push('rc-below-1-control')

        return classes.join(' ')
    },
}
const ListComponent = {
    components: { LevelOneBaseComponent },
    template: '#listTemplate',
    data() { return {
        filter: '',
        fLists: [],
        isLoading: true,
        isPickingFromMultipleLists: false,
        lists: [],
    }},
    mounted()
    {
        axios.get('{{ url_for("get_all_lists") }}').then(r => {
            this.lists = r.data
            this.fLists = r.data
            this.isLoading = false
        })
    },
    computed: listComputed,
    watch: listWatch,
}
</script>
