<script type="text/x-template" id="listTemplate">

<LevelOneBaseComponent title="List">
<template #body>

<div v-if="isLoading" :class="emptyDivClass">
    <v-progress-circular indeterminate color="indigo"
      :size="50"></v-progress-circular>
</div>

<div v-else-if="lists.length == 0" :class="emptyDivClass">
    <p class="mb-4">You haven't created any list yet!</p>
    <v-btn color="indigo" prepend-icon="mdi-plus" rounded="pill"
      size="large" to="/list/create">Create list</v-btn>
</div>

<template v-else>
<v-btn class="rc-floating-btn" color="indigo" icon="mdi-plus"
  to="/list/create"></v-btn>
<v-text-field v-model="filter" label="Search" prepend-inner-icon="mdi-magnify"
  variant="outlined"></v-text-field>

<div v-if="fLists.length > 0" class="rc-below-1-control rc-y-scroll">
<v-list lines="two">
    <v-list-item v-for="(l, k1) in fLists" :active="false"
      :subtitle="l.items.length+' item'+(l.items.length == 1 ? '' : 's')"
      :title="l.name" :to="'/list/view/'+l.id" :value="l.name">
        <template #append>
            <v-icon icon="mdi-chevron-right"></v-icon>
        </template>
    </v-list-item>
</v-list>
</div>
</template>

</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
var listWatch = {
    filter(value)
    {
        var pattern = new RegExp(value, 'i')
        this.fLists = this.lists.filter(l => l.name.match(pattern))
    },
}

var listComputed = {
    emptyDivClass()
    {
        return [
            'align-center',
            'd-flex',
            'flex-column',
            'justify-center',
            'rc-spacious-div',
        ].join(' ')
    }
}
const ListComponent = {
    components: { LevelOneBaseComponent },
    template: '#listTemplate',
    data() { return {
        filter: '',
        fLists: [],
        isLoading: true,
        lists: [],
    }},
    mounted()
    {
        axios.get('{{ url_for("get_all_lists") }}').then(r => {
            this.lists = r.data
            this.fLists = r.data
            this.isLoading = false
        })
    },
    computed: listComputed,
    watch: listWatch,
}
</script>