<script type="text/x-template" id="listViewTemplate">

<RootBaseComponent>

<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left" to="/list"></v-app-bar-nav-icon>
</template>
<template #appBarTitle>${list.name}</template>
<template #appBarAppend>
    <v-btn icon="mdi-delete-outline" @click="isConfirmingDelete = true"></v-btn>
</template>

<template #rootBody>
<v-window v-model="currentTab">

<v-window-item value="element">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<template v-else>
    <p>Number of results: ${numResults}</p>
    <v-slider v-model="numResults" :max="maxOutputLength" :min="1" :step="1">
        <template #prepend>1</template>
        <template #append>${maxOutputLength}</template>
    </v-slider>
    <v-card :class="cardClass(['rc-list-view-short-card'])">
        <v-icon v-if="results.length == 0" color="grey"
          icon="mdi-format-list-bulleted-type" size="large"></v-icon>
        <p v-else class="text-center text-h2">${results.join(', ')}</p>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-shuffle" rounded="pill" size="large"
          @click="generateResults">Pick element</v-btn>
    </v-card>
</template>
</v-window-item>

<v-window-item value="shuffle">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<template v-else>
    <v-card :class="shuffleCardClass">
        <v-icon v-if="shuffledItems.length == 0" color="grey"
          icon="mdi-shuffle-variant" size="large"></v-icon>
        <v-list v-else item-title="body" :items="shuffledItems"></v-list>
    </v-card>
    <v-btn class="rc-floating-btn-in-relative" color="indigo"
        prepend-icon="mdi-shuffle-variant" rounded="pill" size="large"
        @click="shuffleItems">Shuffle</v-btn>
</template>
</v-window-item>

<v-window-item value="groups">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<div v-else-if="list.items.length < 2" :class="cardClass('rc-list-view-card')">
    <v-icon icon="mdi-alert" size="x-large"></v-icon>
    <h2>The list must have more than two items to be split into groups.</h2>
    <v-btn color="indigo" prepend-icon="mdi-pencil"
      @click="currentTab = 'edit'">Edit list</v-btn>
</div>
<template v-else>
    <p>Number of groups: ${numGroups}</p>
    <v-slider v-model="numGroups" :max="maxOutputLength" :min="2" :step="1">
        <template #prepend>2</template>
        <template #append>${maxOutputLength}</template>
    </v-slider>
    <v-card :class="cardClass(['rc-list-view-short-card'])">
        <v-icon v-if="groups.length == 0" color="grey"
          icon="mdi-account-multiple-outline" size="large"></v-icon>
        <v-list v-else>
            <v-list-item v-for="(g, k1) in groups" :title="joinItemBodies(g)"
              :value="k1"></v-list-item>
        </v-list>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-account-multiple" rounded="pill" size="large"
          @click="groupItems">Create groups</v-btn>
    </v-card>
</template>
</v-window-item>

<v-window-item value="edit">
    <LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
    <ListFormComponent v-else mode="edit" :list="list"></ListFormComponent>
</v-window-item>

</v-window>

<v-dialog v-model="isConfirmingDelete">
<v-card title="Confirm deletion">
    <v-card-text>
        <p>Are you sure you want to delete this list?</p>
    </v-card-text>
    <v-card-actions>
        <v-btn @click="isConfirmingDelete = false">Cancel</v-btn>
        <v-btn @click="deleteList">OK</v-btn>
    </v-card-actions>
</v-card>
</v-dialog>
</template>

<template #bottomBar>
<v-tabs v-model="currentTab" grow stacked bg-color="indigo">
    <v-tab value="element">
        <v-icon icon="mdi-format-list-bulleted-type"></v-icon>
        Element
    </v-tab>
    <v-tab value="shuffle">
        <v-icon icon="mdi-shuffle-variant"></v-icon>
        Shuffle
    </v-tab>
    <v-tab value="groups">
        <v-icon icon="mdi-account-multiple"></v-icon>
        Groups
    </v-tab>
    <v-tab value="edit">
        <v-icon icon="mdi-pencil"></v-icon>
        Edit
    </v-tab>
</v-tabs>
</template>

</RootBaseComponent>

</script>

<script type="text/javascript">
var listViewMethods = {
    cardClass(extraClassArray)
    {
        var classes = [
            'align-center',
            'd-flex',
            'flex-column',
            'justify-center',
        ]
        return classes.concat(extraClassArray).join(' ')
    },
    deleteList(event)
    {
        axios.post(
            '{{ url_for("delete_list") }}',
            { id: this.list.id },
        ).then(r => {
            this.$router.replace('/list')
        })
    },
    generateResults(event)
    {
        this.results = this.selectSomeItems(this.numResults)
    },
    groupItems(event)
    {
        this.groups = _.map(Array(this.numGroups), (g) => [])

        var items = _.clone(this.list.items)
        var numItemsPerGroup = Math.ceil(items.length / this.numGroups)
        for (var p = 0; p < numItemsPerGroup; p++)
        {
            items = this.moveItemsIntoGroupsRandomly(items)
        }
    },
    joinItemBodies(items)
    {
        var bodyList = []
        for (var i in items) bodyList.push(items[i].body)
        return bodyList.join(', ')
    },
    moveItemsIntoGroupsRandomly(items)
    {
        var gIndices = Array.from(Array(this.numGroups).keys())
        while (gIndices.length > 0 && items.length > 0)
        {
            var randomGiIndex = Math.floor(Math.random() * gIndices.length)
            var randomGroupIndex = gIndices[randomGiIndex]
            var randomItemIndex = Math.floor(Math.random() * items.length)

            this.groups[randomGroupIndex].push(items[randomItemIndex])
            items.splice(randomItemIndex, 1)
            gIndices.splice(randomGiIndex, 1)
        }
        return items
    },
    selectSomeItems(count)
    {
        var selectedItems = []
        var tempItems = _.clone(this.list.items)
        for (var i = 0; i < count; i++)
        {
            var index = Math.floor(Math.random() * tempItems.length)
            selectedItems.push(tempItems[index].body)
            tempItems.splice(index, 1)
        }
        return selectedItems
    },
    shuffleItems(event)
    {
        this.shuffledItems = this.selectSomeItems(this.list.items.length)
    },
}

var listViewComputed = {
    maxOutputLength()
    {
        if (this.list.items.length > 10) return 10
        else return this.list.items.length
    },
    shuffleCardClass()
    {
        if (this.shuffledItems.length == 0)
        {
            return this.cardClass('rc-list-view-card')
        }
        else
        {
            return ['rc-list-view-card', 'rc-y-scroll'].join(' ')
        }
    },
}

const ListViewComponent = {
    components: {
        ListFormComponent,
        LoadingDivComponent,
        RootBaseComponent,
    },
    template: '#listViewTemplate',
    delimiters: ['${', '}'],
    data() { return {
        currentTab: 'element',
        groups: [],
        isConfirmingDelete: false,
        isLoading: true,
        list: {
            items: [],
        },
        numGroups: 2,
        numResults: 1,
        results: [],
        shuffledItems: [],
    }},
    mounted()
    {
        axios.get('{{ url_for("get_list") }}', { params: {
            id: this.$route.params.id,
        }}).then(r => {
            this.list = r.data
            this.isLoading = false
        })
    },
    methods: listViewMethods,
    computed: listViewComputed,
}
</script>