<script type="text/x-template" id="listViewTemplate">

<RootBaseComponent>

<template #appBarPrepend>
    <v-app-bar-nav-icon icon="mdi-arrow-left" to="/list"></v-app-bar-nav-icon>
</template>
<template #appBarTitle>${list.name}</template>
<template #appBarAppend>
    <v-btn icon="mdi-delete-outline" @click="confirmDelete"></v-btn>
</template>

<template #rootBody>
<v-window v-model="currentTab">

<v-window-item value="element">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<template v-else>
    <p>Number of results: ${numResults}</p>
    <v-slider v-model="numResults" :max="list.items.length" :min="1" :step="1">
        <template #prepend>1</template>
        <template #append>${list.items.length}</template>
    </v-slider>
    <v-card :class="cardClass(['rc-list-view-short-card'])">
        <v-icon v-if="results.length == 0" color="grey"
          icon="mdi-format-list-bulleted-type" size="large"></v-icon>
        <p v-else class="text-center text-h2">${results.join(', ')}</p>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-shuffle" rounded="pill" size="large"
          @click="generateResults">Pick element</v-btn>
    </v-card>
</template>
</v-window-item>

<v-window-item value="shuffle">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<template v-else>
    <v-card :class="shuffleCardClass">
        <v-icon v-if="shuffledItems.length == 0" color="grey"
          icon="mdi-shuffle-variant" size="large"></v-icon>
        <v-list v-else item-title="body" :items="shuffledItems"></v-list>
    </v-card>
    <v-btn class="rc-floating-btn-in-relative" color="indigo"
        prepend-icon="mdi-shuffle-variant" rounded="pill" size="large"
        @click="shuffleItems">Shuffle</v-btn>
</template>
</v-window-item>

<v-window-item value="groups">
<LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
<template v-else>
    <p>Number of groups: ${numGroups}</p>
    <v-slider v-model="numGroups" :max="list.items.length" :min="2" :step="1">
        <template #prepend>2</template>
        <template #append>${list.items.length}</template>
    </v-slider>
    <v-card :class="cardClass(['rc-list-view-short-card'])">
        <v-icon color="grey" icon="mdi-account-multiple-outline"
          size="large"></v-icon>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-account-multiple" rounded="pill" size="large"
          >Create groups</v-btn>
    </v-card>
</template>
</v-window-item>

<v-window-item value="edit">
    <LoadingDivComponent v-if="isLoading"></LoadingDivComponent>
    <ListFormComponent v-else mode="edit" :list="list"></ListFormComponent>
</v-window-item>

</v-window>
</template>

<template #bottomBar>
<v-tabs v-model="currentTab" grow stacked bg-color="indigo">
    <v-tab value="element">
        <v-icon icon="mdi-format-list-bulleted-type"></v-icon>
        Element
    </v-tab>
    <v-tab value="shuffle">
        <v-icon icon="mdi-shuffle-variant"></v-icon>
        Shuffle
    </v-tab>
    <v-tab value="groups">
        <v-icon icon="mdi-account-multiple"></v-icon>
        Groups
    </v-tab>
    <v-tab value="edit">
        <v-icon icon="mdi-pencil"></v-icon>
        Edit
    </v-tab>
</v-tabs>
</template>

</RootBaseComponent>

</script>

<script type="text/javascript">
var listViewMethods = {
    cardClass(extraClassArray)
    {
        var classes = [
            'align-center',
            'd-flex',
            'flex-column',
            'justify-center',
        ]
        return classes.concat(extraClassArray).join(' ')
    },
    confirmDelete(event)
    {
        //
    },
    generateResults(event)
    {
        this.results = this.selectSomeItems(this.numResults)
    },
    selectSomeItems(count)
    {
        var selectedItems = []
        var tempItems = _.clone(this.list.items)
        for (var i = 0; i < count; i++)
        {
            var index = Math.floor(Math.random() * tempItems.length)
            selectedItems.push(tempItems[index].body)
            tempItems.splice(index, 1)
        }
        return selectedItems
    },
    shuffleItems(event)
    {
        this.shuffledItems = this.selectSomeItems(this.list.items.length)
    },
}

var listViewComputed = {
    shuffleCardClass()
    {
        if (this.shuffledItems.length == 0)
        {
            return this.cardClass('rc-list-view-card')
        }
        else
        {
            return ['rc-list-view-card', 'rc-y-scroll'].join(' ')
        }
    },
}

const ListViewComponent = {
    components: {
        ListFormComponent,
        LoadingDivComponent,
        RootBaseComponent,
    },
    template: '#listViewTemplate',
    delimiters: ['${', '}'],
    data() { return {
        currentTab: 'element',
        isLoading: true,
        list: {
            items: [],
        },
        numGroups: 2,
        numResults: 1,
        results: [],
        shuffledItems: [],
    }},
    mounted()
    {
        axios.get('{{ url_for("get_list") }}', { params: {
            id: this.$route.params.id,
        }}).then(r => {
            this.list = r.data
            this.isLoading = false
        })
    },
    methods: listViewMethods,
    computed: listViewComputed,
}
</script>