<!doctype html>
<html>

<title>Randomizer Clone by Jay Mandane</title>
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.3/dist/vuetify.css" rel="stylesheet">

<style type="text/css">
[v-cloak] { display: none }

.rc-content-card {
    height: calc(100vh - 320px);
}

.rc-floating-btn {
    bottom: 20px;
    position: absolute;
    right: 20px;
}
</style>

<body>

<div id="app">
<div v-cloak>

<v-app>
<v-app-bar color="indigo">
    <template #prepend>
        <v-app-bar-nav-icon @click="isDrawerOpen = ! isDrawerOpen"></v-app-bar-nav-icon>
    </template>
    <v-app-bar-title>Randomizer Clone</v-app-bar-title>
</v-app-bar>

<v-navigation-drawer v-model="isDrawerOpen">
    <v-list>
        <v-list-item v-for="i in drawerItems" :title="i.title" :to="i.to"
          :value="i"></v-list-item>
    </v-list>
</v-navigation-drawer>

<v-main class="ma-4">
    <router-view></router-view>
</v-main>
</v-app>

</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@1.3.2/dist/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@4.1.6/dist/vue-router.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.3/dist/vuetify.js"></script>

{% include 'components/number.html' %}
{% include 'components/coin_flip.html' %}
{% include 'components/list.html' %}
{% include 'components/letter.html' %}
{% include 'components/color.html' %}
{% include 'components/password.html' %}
{% include 'components/dice_roll.html' %}
{% include 'components/country.html' %}
{% include 'components/date_time.html' %}
{% include 'components/chemical_element.html' %}

<script type="text/javascript">
const AppVuetify = Vuetify.createVuetify()

const Router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes: [
        { path: '/number', component: NumberComponent },
        { path: '/coinFlip', component: CoinFlipComponent },
        { path: '/list', component: ListComponent },
        { path: '/letter', component: LetterComponent },
        { path: '/color', component: ColorComponent },
        { path: '/password', component: PasswordComponent },
        { path: '/diceRoll', component: DiceRollComponent },
        { path: '/country', component: CountryComponent },
        { path: '/dateTime', component: DateTimeComponent },
        { path: '/chemicalElement', component: ChemicalElementComponent },
        { path: '/', redirect: '/number' },
    ],
})

const App = Vue.createApp({
    delimiters: ['${', '}'],
    data() { return {
        drawerItems: [
            { title: 'Number', to: '/number' },
            { title: 'Coin flip', to: '/coinFlip' },
            { title: 'List', to: '/list' },
            { title: 'Letter', to: '/letter' },
            { title: 'Color', to: '/color' },
            { title: 'Password', to: '/password' },
            { title: 'Dice roll', to: '/diceRoll' },
            { title: 'Country', to: '/country' },
            { title: 'Date/time', to: '/dateTime' },
            { title: 'Chemical element', to: '/chemicalElement' },
        ],
        isDrawerOpen: false,
    }},
})

App.use(Router)
App.use(AppVuetify)

const AppInstance = App.mount('#app')
</script>

</body>

</html>
