<script type="text/x-template" id="coinFlipTemplate">

<LevelOneBaseComponent title="Coin Flip">
<template #body>

<v-card class="align-center d-flex justify-center rc-full-card rc-relative">
<div v-if="randomNumber != null" class="ma-16">
    <template v-if="randomNumber % 2 == 0">
        <img src="{{ url_for('static', filename='img/php_coin__heads.jpg')}}"
          width="200">
        <p class="mt-4 text-center text-h2">Heads</p>
    </template>
    <template v-if="randomNumber % 2 == 1">
        <img src="{{ url_for('static', filename='img/php_coin__tails.jpg')}}"
          width="200">
        <p class="mt-4 text-center text-h2">Tails</p>
    </template>
</div>
<v-icon v-else color="grey" icon="mdi-hand-coin" size="large"></v-icon>
<v-btn class="rc-floating-btn-in-relative" color="indigo"
  prepend-icon="mdi-hand-coin" rounded="pill" size="large"
  @click="flip">Flip a coin</v-btn>
</v-card>

</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
const CoinFlipComponent = {
    components: { LevelOneBaseComponent },
    template: '#coinFlipTemplate',
    data() { return {
        randomNumber: null,
    }},
    methods: { flip(event) {
        this.randomNumber = Math.floor(Math.random() * 10)
    }},
}
// TODO: Add some animation for when you flip the coin.
</script>