<script type="text/x-template" id="coinFlipTemplate">

<v-btn class="rc-floating-btn" color="indigo" prepend-icon="mdi-hand-coin"
  rounded="pill" size="large" @click="flip">Flip a coin</v-btn>

<div v-if="randomNumber != null" class="ma-16 text-center">
    <template v-if="randomNumber % 2 == 0">
        <img src="{{ url_for('static', filename='img/php_coin__heads.jpg')}}"
          width="200">
        <p class="mt-4 text-h2">Heads</p>
    </template>
    <template v-if="randomNumber % 2 == 1">
        <img src="{{ url_for('static', filename='img/php_coin__tails.jpg')}}"
          width="200">
        <p class="mt-4 text-h2">Tails</p>
    </template>
</div>

</script>

<script type="text/javascript">
const CoinFlipComponent = {
    template: '#coinFlipTemplate',
    data() { return {
        randomNumber: null,
    }},
    methods: { flip(event) {
        this.randomNumber = Math.floor(Math.random() * 10)
    }},
}
// TODO: Add some animation for when you flip the coin.
</script>