<script type="text/x-template" id="dateTimeTemplate">

<LevelOneBaseComponent has-app-bar-extension title="Date/Time">
<template #appBarExtension>
<v-tabs v-model="currentTab" grow bg-color="indigo">
    <v-tab value="date">Date</v-tab>
    <v-tab value="time">Time</v-tab>
</v-tabs>
</template>

<template #body>
<v-window v-model="currentTab">
<v-window-item value="date">
    <v-text-field v-model="dateFrom" label="From" type="date"></v-text-field>
    <v-text-field v-model="dateTo" label="To" type="date"></v-text-field>
    <p>Number of results: ${numDateResults}</p>
    <v-slider v-model="numDateResults" :max="5" :min="1" :step="1">
        <template #prepend>1</template>
        <template #append>5</template>
    </v-slider>
    <v-card style="height: calc(100vh - 378px)" :class="cardClass">
        <div v-if="dates.length">
            <p v-for="d in dates" class="text-center text-h4">${d}</p>
        </div>
        <v-icon v-else color="grey" icon="mdi-calendar-question"
          size="large"></v-icon>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-shuffle" rounded="pill" size="large"
          @click="generateDates">Generate dates</v-btn>
    </v-card>
</v-window-item>
<v-window-item value="time">
    <v-text-field v-model="timeFrom" label="From" type="time"></v-text-field>
    <v-text-field v-model="timeTo" label="To" type="time"></v-text-field>
    <p>Number of results: ${numTimeResults}</p>
    <v-slider v-model="numTimeResults" :max="5" :min="1" :step="1">
        <template #prepend>1</template>
        <template #append>5</template>
    </v-slider>
    <v-card style="height: calc(100vh - 378px)" :class="cardClass">
        <div v-if="times.length">
            <p v-for="t in times" class="text-center text-h4">${t}</p>
        </div>
        <v-icon v-else color="grey" icon="mdi-clock-fast"
          size="large"></v-icon>
        <v-btn class="rc-floating-btn-in-relative" color="indigo"
          prepend-icon="mdi-shuffle" rounded="pill" size="large"
          @click="generateTimes">Generate times</v-btn>
    </v-card>
</v-window-item>
</v-window>
</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
var dateTimeMethods = {
    generateDates(event)
    {
        this.dates = []

        var dfts = luxon.DateTime.fromISO(this.dateFrom).toMillis()
        var dtts = luxon.DateTime.fromISO(this.dateTo).toMillis()

        var diff = dtts - dfts
        for (var r = 0; r < this.numDateResults; r++)
        {
            var nts = Math.round(Math.random() * diff) + dfts
            this.dates.push(luxon.DateTime.fromMillis(nts).toLocaleString(
              luxon.DateTime.DATE_SHORT))
        }
    },
    generateTimes(event)
    {
        this.times = []

        var tfts = luxon.DateTime.fromISO(this.timeFrom).toMillis()
        var ttts = luxon.DateTime.fromISO(this.timeTo).toMillis()

        var diff = ttts - tfts
        for (var r = 0; r < this.numTimeResults; r++)
        {
            var nts = Math.round(Math.random() * diff) + tfts
            this.times.push(luxon.DateTime.fromMillis(nts).toLocaleString(
              luxon.DateTime.TIME_24_SIMPLE))
        }
    },
}

var dateTimeComputed = {
    cardClass()
    {
        return [
            'align-center',
            'd-flex',
            'justify-center',
        ].join(' ')
    },
}

const DateTimeComponent = {
    components: { LevelOneBaseComponent },
    template: '#dateTimeTemplate',
    delimiters: ['${', '}'],
    data() { return {
        currentTab: 'date',
        dateFrom: luxon.DateTime.now().plus({ months: -1 }).toISODate(),
        dateTo: luxon.DateTime.now().toISODate(),
        dates: [],
        numDateResults: 1,
        numTimeResults: 1,
        timeFrom: luxon.DateTime.fromObject({ hour: 0, minute: 0 })
          .toLocaleString(luxon.DateTime.TIME_24_SIMPLE),
        timeTo: luxon.DateTime.fromObject({ hour: 23, minute: 59 })
          .toLocaleString(luxon.DateTime.TIME_24_SIMPLE),
        times: [],
    }},
    methods: dateTimeMethods,
    computed: dateTimeComputed,
}
</script>
