<script type="text/x-template" id="numberTemplate">

<LevelOneBaseComponent title="Number">
<template #body>

<v-row>
    <v-col>
        <v-text-field v-model="min" label="Min:"
          variant="outlined"></v-text-field>
    </v-col>
    <v-col>
        <v-text-field v-model="max" label="Max:"
          variant="outlined"></v-text-field>
    </v-col>
</v-row>

<p>Number of results: ${numResults}</p>
<v-slider v-model="numResults" :max="10" :min="1" :step="1">
    <template #prepend>1</template>
    <template #append>10</template>
</v-slider>

<v-checkbox v-model="isRepetitionsAllowed" label="Repetitions"></v-checkbox>

<v-card :class="cardClass">
    <v-icon v-if="! results.length" color="grey" icon="mdi-numeric"
      size="large"></v-icon>
    <div v-else class="text-center">
        <p class="text-h5">${results.join(', ')}</p>
        <p class="text-caption">Sum: ${resultSum}</p>
        <p class="text-caption">Average: ${resultAverage}</p>
    </div>
    <v-btn class="rc-floating-btn-in-relative" color="indigo"
      prepend-icon="mdi-shuffle" rounded="pill" size="large"
      @click="generate">Generate numbers</v-btn>
</v-card>

<v-snackbar v-model="isMinOrMaxNull">
    <p>All values must be valid numbers.</p>
    <template #actions>
        <v-btn color="info" @click="isMinOrMaxNull = false">Dismiss</v-btn>
    </template>
</v-snackbar>

</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
var numberMethods = {
    checkIfRepetition(number)
    {
        if (this.isRepetitionsAllowed) return false
        if (this.results.indexOf(number) == -1) return false
        return true
    },
    generate(event)
    {
        this.isMinOrMaxNull = ! this.max || ! this.min
        if (this.isMinOrMaxNull) return

        this.results = []
        var difference = this.max - this.min
        while (this.results.length < this.numResults)
        {
            var randomNumber = Math.round(Math.random() * difference)
            if (this.checkIfRepetition(randomNumber)) continue
            this.results.push(randomNumber + parseInt(this.min))
        }
    },
}

var numberComputed = {
    cardClass()
    {
        return [
            'align-center',
            'd-flex',
            'justify-center',
            'rc-below-3-controls',
        ].join(' ')
    },
    resultAverage()
    {
        var a = this.resultSum / this.results.length || 0
        return a.toFixed(2)
    },
    resultSum()
    {
        return this.results.reduce((t, c) => t + c, 0)
    },
}

const NumberComponent = {
    components: { LevelOneBaseComponent },
    template: '#numberTemplate',
    delimiters: ['${', '}'],
    data() { return {
        isMinOrMaxNull: false,
        isRepetitionsAllowed: false,
        max: null,
        min: null,
        numResults: 1,
        results: [],
    }},
    methods: numberMethods,
    computed: numberComputed,
}
</script>