<script type="text/x-template" id="passwordTemplate">

<LevelOneBaseComponent title="Password">
<template #body>

<p>Password length: ${passwordLength}</p>
<v-slider v-model="passwordLength" :max="32" :min="4" :step="1">
    <template #prepend>4</template>
    <template #append>32</template>
</v-slider>

<div class="d-flex">
    <v-checkbox v-model="passwordCriteria.symbols"
      label="Symbols"></v-checkbox>
    <v-checkbox v-model="passwordCriteria.lowerCaseLetters"
      label="Lower-case letters"></v-checkbox>
    <v-checkbox v-model="passwordCriteria.upperCaseLetters"
      label="Upper-case letters"></v-checkbox>
    <v-checkbox v-model="passwordCriteria.digits"
      label="Digits"></v-checkbox>
</div>

<v-card :class="cardClass">
    <div v-if="generatedPassword">
        <v-icon class="rc-copy-icon-in-relative"
          icon="mdi-content-copy" @click="copyGeneratedPassword"></v-icon>
        <p class="text-h3">${generatedPassword}</p>
    </div>
    <v-icon v-else color="grey" icon="mdi-shield-account"
      size="large"></v-icon>
    <v-btn class="rc-floating-btn-in-relative" color="indigo"
      prepend-icon="mdi-shuffle" rounded="pill" size="large"
      @click="generatePassword">Generate password</v-btn>
</v-card>

</template>
</LevelOneBaseComponent>

</script>

<script type="text/javascript">
var passwordMethods = {
    copyGeneratedPassword(event)
    {
        navigator.clipboard.writeText(this.generatedPassword)
        this.$root.isCopied = true
    },
    criteriaListCallbackFn(list, criteria)
    {
        if (this.passwordCriteria[criteria]) list.push(criteria)
        return list
    },
    generatePassword(event)
    {
        this.generatedPassword = ''

        var criteriaList = Object.keys(this.passwordCriteria).reduce(
            this.criteriaListCallbackFn, []
        )

        while (this.generatedPassword.length < this.passwordLength)
        {
            var randomIndex = Math.floor(Math.random() * criteriaList.length)
            var randomCriteria = criteriaList[randomIndex]

            var nextCharacter = ''
            if (randomCriteria == 'symbols')
              nextCharacter = this.randomSymbol()
            else if (randomCriteria == 'lowerCaseLetters')
              nextCharacter = this.randomLowerCaseLetter()
            else if (randomCriteria == 'upperCaseLetters')
              nextCharacter = this.randomUpperCaseLetter()
            else if (randomCriteria == 'digits')
              nextCharacter = this.randomDigit()

            this.generatedPassword += nextCharacter
        }
    },
    randomDigit()
    {
        var digits = '0123456789'
        var randomIndex = Math.floor(Math.random() * digits.length)
        return digits[randomIndex]
    },
    randomLowerCaseLetter()
    {
        var alphabet = alphabets.English.lower
        var randomIndex = Math.floor(Math.random() * alphabet.length)
        return alphabet[randomIndex]
    },
    randomSymbol()
    {
        var symbols = ' !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
        // https://owasp.org/www-community/password-special-characters
        var randomIndex = Math.floor(Math.random() * symbols.length)
        return symbols[randomIndex]
    },
    randomUpperCaseLetter()
    {
        var alphabet = alphabets.English.upper
        var randomIndex = Math.floor(Math.random() * alphabet.length)
        return alphabet[randomIndex]
    },
}

var passwordComputed = {
    cardClass()
    {
        return [
            'align-center',
            'd-flex',
            'justify-center',
            'rc-below-2-controls',
        ].join(' ')
    },
}

const PasswordComponent = {
    components: { LevelOneBaseComponent },
    template: '#passwordTemplate',
    delimiters: ['${', '}'],
    data() { return {
        generatedPassword: '',
        passwordCriteria: {
            symbols: true,
            lowerCaseLetters: true,
            upperCaseLetters: true,
            digits: true,
        },
        passwordLength: 8,
    }},
    methods: passwordMethods,
    computed: passwordComputed,
}
</script>